<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lunch Decider App</title>
</head>
<body>

<h1>Welcome to the Lunch Decider App!</h1>

<p th:text="${message}" autoUpdate="true" ></p>

<form method="post" action="/lunch/start">
    <button style="margin:5px;" type="submit">Start Session</button>
</form>

<form method="post" action="/lunch/join">
    <button style="margin:5px;" type="submit">Join Session</button>
</form>

<form method="post" action="/lunch/submit" th:object="${restaurant}">
    <label for="rRestaurant">Submit a restaurant:</label>
    <input type="text" id="rRestaurant" name="rname" th:field="*{name}" required>
    <p showDetail="true" autoUpdate="true"/>
    <button type="submit">Submit Restaurant</button>
</form>

<form method="post" action="/lunch/end">
    <input type="text" id="code" name="code" th:value="*{code}" required>
    <button style="margin:5px;" type="submit">End Session</button>
</form>

<td th:switch="${#lists.size(listShops)}">
    <span th:case="'0'" style="margin:5px;" > </span>
    <div th:case="*">
        <span>Restaurants submitted:</span>

        <ul>
            <li th:each="rt : ${listShops}" th:text="${rt.name}"></li>
        </ul>
    </div>
</td>

</body>
</html>
